---
---

@import "{{ site.theme }}";

.note blockquote {
  border-color: #f98305;
  color: inherit;
  background-color: #f983051f;
  padding: 0.5rem 1rem;
}

blockquote:before {
  content: 'Hinweis: ' var(--title,'');
  font-weight: bold;
  color: #f98305;
}